@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  src: url('./assets/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf');
  font-family: 'gilroy';
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
  color: white;
}

